.navigation {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(165,221,218);
    border-bottom: 2px solid rgb(106,14,148);
    box-shadow: 0 10px 10px 0 rgb(138,94,214);*/
    z-index: 10;
}

.user-profile {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
    border: 2px solid rgb(106,14,148);
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
